.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.future {
  background-color: #5fae5fcb;
  color: white;
}

.past {
  background-color: #6a6a6a3f;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.row {
  white-space: pre-wrap;
  height: 90px;
  border-top: 1px solid white;
 
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

.time-align {
  padding-top: 3%;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border: 1px solid black;
  padding: 20px;
}

.time-block{
  text-align: center;
  border-radius: 20px;
  width: 80%;
}