.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.future {
  background-color: #5fae5fcb;
  color: white;
}

.past {
  background-color: #6a6a6a7e;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.row {
  white-space: pre-wrap;
  height: 90px;
  border-top: 1px solid white;;
 
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

.time-align {
  padding-top: 3%;
}


textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border: 1px solid black;
  padding: 20px;
}


.time-block{
  text-align: center;
  border-radius: 20px;
  width: 80%;
}